.login-form-container {
    min-width: 500px;
}

.forgot-password-dialog {
    max-width: 400px;
    max-height: 500px;
}

/*---------- Location Color Indicator ----------*/
.checked_item {
    border-radius: 13px;
    height: 26px;
    margin: 15px;
    width: 26px;
}

.checked_item_green {
    background-color: #00D500;
}

.checked_item_yellow {
    background-color: #FFFF00;
}

.checked_item_red {
    background-color: #DD0000;
}

.checked_item_gray {
    background-color: #9E9E9E;
}

/*---------- Client Billing ----------*/
#client-billing-tab .subInfo-container {
    border: 1px solid #CCCCCC;
}

#client-billing-tab .subscriptions .subscriptions-row {
    display: block;
}

#client-billing-tab .checkbox {
    margin: 0px 20px 10px 3px !important;
    font-size: 11px !important;
    float: left;
    min-width: 190px;
}

#client-billing-tab .subscriptions {
    overflow-x: auto !important;
    padding: 10px;
}

#client-billing-tab .subscriptions .sub-last-row td {
    font-size: 14px;
    font-weight: 600;
}

/*------------------------------ Templates Tab ------------------------------*/
/*---------- Template > Template HTML WYSIWYG editor ----------*/
#client-template-side-nav .tab-container {
    height: 800px;
    overflow-y: auto;
}

#client-template-side-nav .tab-container textarea {
    padding: 5px;
    resize: none;
    border-color: #CCCCCC;
    width: 100%;
    height: 116vh;
}

#client-template-side-nav .tab-container > textarea,
#client-template-side-nav .tab-container wysiwyg-edit,
#client-template-side-nav .tab-container wysiwyg-edit .tinyeditor {
    height: 100%;
}

#client-template-side-nav .tab-container wysiwyg-edit .tinyeditor div.sizer {
    height: calc(100% - 106px) !important;
}

#client-template-side-nav .tab-container wysiwyg-edit .tinyeditor .sizer textarea {
    height: calc(100% - -75px) !important
}

/*------------------------------ End Templates Tab ------------------------------*/

/*---------- Shop-locations Log tab tooltip ----------*/
#shopLocation-logs-tab .custom-table tr:not(:first-child):hover {
    cursor: pointer;
}

#shopLocation-logs-tab .custom-table a.tooltips {
    color: #000000;
    position: relative;
    display: inline;
    text-decoration: none;
}

#shopLocation-logs-tab .custom-table a.tooltips > span {
    position: absolute;
    width: auto;
    color: #000000;
    background: #FFC670;
    border: 2px solid #CCCCCC;
    height: auto;
    line-height: 1.5em;
    text-align: left;
    visibility: hidden;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #000000;
}

#shopLocation-logs-tab .custom-table a.tooltips > span > p {
    height: 100px;
    width: 500px;
    overflow: auto;
    margin: 0;
    padding: 10px;
}

#shopLocation-logs-tab .custom-table a.tooltips > span:before {
    content: '';
    position: absolute;
    top: 15%;
    right: 100%;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-right: 12px solid #CCCCCC;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

#shopLocation-logs-tab .custom-table a.tooltips > span:after {
    content: '';
    position: absolute;
    top: 15%;
    left: -6px;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #FFC670;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#shopLocation-logs-tab .custom-table a:hover.tooltips > span {
    display: inline-table;
    visibility: visible;
    left: 100%;
    top: 50%;
    margin-top: -1.7em;
    margin-left: 15px;
    z-index: 1;
}

/*---------- RO modal ----------*/
.leftLabel {
    font-weight: bold;
    padding-right: 3px;
}

/*---------- Bar-chart no data message ----------*/
.bar-data-msg {
    position: absolute;
    top: 40%;
    left: 40%
}

/*---------- Shop-location customer breadcrumb ----------*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 14px;
    margin-left: -2.8em;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 25px;
    background: brown; /* fallback color */
    background: hsla(34, 0%, 35%, 1);
    position: relative;
    display: block;
    float: left;
    min-height: 18px;
}

.breadcrumb li a:after, .breadcrumb li a:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}

.breadcrumb li a:after {
    border-width: 19px;
    border-left-color: hsla(34, 0%, 35%, 1);
    z-index: 1;
    top: -1px;
}

.breadcrumb li a:before {
}

.breadcrumb li:first-child a {
    padding-left: 10px;
}

.breadcrumb li:nth-child(2) a {
    background: hsla(30, 0%, 45%, 1);
}

.breadcrumb li:nth-child(2) a:after {
    border-left-color: hsla(30, 0%, 45%, 1);
}

.breadcrumb li:nth-child(3) a {
    background: hsla(30, 0%, 55%, 1);
}

.breadcrumb li:nth-child(3) a:after {
    border-left-color: hsla(30, 0%, 55%, 1);
}

.breadcrumb li:nth-child(4) a {
    background: hsla(30, 0%, 65%, 1);
}

.breadcrumb li:nth-child(4) a:after {
    border-left-color: hsla(30, 0%, 65%, 1);
}

.breadcrumb li:nth-child(5) a {
    background: hsla(30, 0%, 75%, 1);
}

.breadcrumb li:nth-child(5) a:after {
    border-left-color: hsla(30, 0%, 75%, 1);
}

.breadcrumb li:last-child a {
    background: #CCCCCC !important;
    color: black;
    pointer-events: none;
    cursor: default;
    padding-right: 18px;
}

.breadcrumb li:last-child a:after {
    border: 0;
}

.breadcrumb li a:hover {
    background: hsla(34, 0%, 25%, 1);
}

.breadcrumb li a:hover:after {
    border-left-color: hsla(34, 0%, 25%, 1) !important;
}

/*----------- Recommended service tooltip ----------*/
#rs-grid .ui-grid-viewport .ui-grid-cell {
    overflow: visible !important;
}

.grid-tooltip .add-display-block div.closeBtn {
    z-index: 3 !important;
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 4px;
}

.grid-tooltip ul,
.grid-tooltip li,
.grid-tooltip span,
.grid-tooltip a {
    margin: 0;
    padding: 0;
    position: relative;
}

.grid-tooltip {
    overflow: visible;
}

.grid-tooltip a {
    display: block;
    text-decoration: none;
}

.grid-tooltip ul {
    list-style: none;
}

.grid-tooltip > ul > li {
    display: inline-block;
    margin: 0;
}

.grid-tooltip.align-center {
    text-align: center;
}

.grid-tooltip.align-center > ul > li {
    float: none;
}

.grid-tooltip.align-center ul ul {
    text-align: left;
}

.grid-tooltip.align-right > ul {
    float: right;
}

.grid-tooltip.align-right ul ul {
    text-align: right;
}

.grid-tooltip > ul > li.top-arrow:hover:after, .grid-tooltip > ul > li.bottom-arrow:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 82%;
    top: 12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #CCCCCC;
    z-index: 9999;
}

.grid-tooltip > ul > li:first-child > a {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    padding: 14px;
}

.grid-tooltip.align-right > ul > li:first-child > a,
.grid-tooltip.align-center > ul > li:first-child > a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.grid-tooltip.align-right > ul > li:last-child > a {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}

.add-display-block {
    display: block !important;
}

.grid-tooltip .has-sub ul {
    display: none;
    position: absolute;
    width: 750px;
    top: 0px;
    left: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px #CCCCCC;
    max-height: 400px;
    overflow: auto;
    z-index: 1;
}

.grid-tooltip .has-sub ul li {
    padding: 16px;
}

/*---------- Segments modal ----------*/
md-dialog#segment-interaction-dialog .contentViewSection, md-dialog#sub-segment-dialog .contentViewSection {
    height: 54vh;
    min-height: 54vh;
}

md-dialog#sub-segment-dialog md-dialog-content, md-dialog#segment-interaction-dialog md-dialog-content {
    overflow: hidden;
}

md-dialog#sub-segment-dialog md-dialog-content div > md-toolbar:first-child .md-toolbar-tools span,
md-dialog#segment-interaction-dialog md-dialog-content div > md-toolbar:first-child .md-toolbar-tools span {
    color: #FFFFFF;
}

md-dialog#sub-segment-dialog #segment-preview-ro-sidenav {
    min-width: 99.95%;
    overflow: hidden;
}

md-dialog#sub-segment-dialog #segment-preview-ro-sidenav md-content.contentSection {
    height: calc(100% - 65px);
    min-height: calc(100% - 65px);
}

md-dialog#segment-interaction-dialog div.previewSection md-content.contentViewSection section,
md-dialog#sub-segment-dialog md-sidenav#segment-preview-ro-sidenav md-content.contentSection section {
    margin: 8px;
}

/*---------- START: Dashbaord Tab ----------*/
#dashboard-tab {
    min-height: 600px;
}

#dashboard-tab section .dashContainerContent {
    height: 352px;
}

#dashboard-tab section .dashContainerContent.summaryContent {
    height: 425px;
    max-height: 425px;
}

/*---------- Summary Calculation ----------*/
.total {
    background-color: #EEEDEE;
    text-align: center;
}

/*---------- END: Dashbaord Tab ----------*/

/*---------- Customers vehicle RO grid ----------*/
#ro-grid .ui-grid .ui-grid-viewport .ui-grid-cell-contents.highLight:hover {
    border: 2px solid #808080;
}