<form id="groupForm" name="groupForm" class="md-padding"
      layout="column" novalidate>
    <md-input-container class="remove-error-space">
        <label>Group Name</label>
        <input name="name" ng-model="group.name" minlength="5" required>

        <div ng-if="groupForm.$submitted || groupForm.name.$touched">
            <span class="error-msg" ng-if="groupForm.name.$error.required">Name is required.</span>
            <span class="error-msg" ng-if="groupForm.name.$error.minlength">
                This field too short minimum 5 characters required.</span>
        </div>
    </md-input-container>

    <div layout="row" layout-align="end center">
        <md-progress-circular ng-if="isProcessing" class="md-accent"
                              md-mode="indeterminate"></md-progress-circular>

        <md-button type="submit" class="md-raised md-accent"
                   ng-disabled="isProcessing"
                   ng-click="groupForm.$valid && fnSaveGroup(group);">
            Save
        </md-button>

        <md-button class="md-warn md-raised margin-right-0"
                   ng-click="fnCloseManageGroupSwap();">Cancel
        </md-button>
    </div>
</form>