<md-sidenav id="customer-list-side-nav"
            class="md-sidenav-right md-whiteframe-z2 right-side-nav overflow-auto"
            md-component-id="manageCustomerListView">

    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <div class="md-toolbar-tools" layout="row">
            <span ng-bind="$root.isCustomerListName ? $root.isCustomerListName : 'Create New List' "></span>
            <span flex></span>
            <md-button class="md-raised md-accent"
                       ng-click="$root.fnCloseManageCustomerListView();">Back
            </md-button>
        </div>
    </md-toolbar>

    <div ng-controller="manageCustomerListCtrl" layout="column" md-theme="grey">
        <md-tabs class="md-primary" md-dynamic-height md-selected="selectedCustListIndex">
            <md-tab label="Expression">
                <div ng-if="selectedCustListIndex == 0"
                     ng-init="fnInitCustomerList();"
                     ng-include="'views/authenticated/shopLocations/customer_list/expression.html'"></div>
            </md-tab>

            <md-tab label="Data Preview">
                <div ng-if="selectedCustListIndex == 1"
                     ng-init="fnGetPreviewValues(filterObj);"
                     ng-include="'views/authenticated/shopLocations/customer_list/dataPreview.html'"></div>
            </md-tab>

            <md-tab label="Map Preview">
                <div ng-if="selectedCustListIndex == 2"
                     ng-init="fnGetLocationDetails(filterObj);"
                     ng-include="'views/authenticated/shopLocations/customer_list/mapPreview.html'"></div>
            </md-tab>
        </md-tabs>
    </div>
</md-sidenav>