<md-content layout-padding id="customer-list-tab">
    <md-content class="statContainerContent" ng-if="!isProcessing" layout="column"
                layout-align="center center" layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100"
                              md-mode="indeterminate"></md-progress-circular>
    </md-content>
    <!-- Google map -->
    <section layout="column" ng-if="isProcessing">
        <div class="md-whiteframe-z2" layout="column" layout-padding>
            <div class="subHeader" layout="row" layout-align="space-between center">
                <div layout="row">
                    <span layout-margin layout-padding>{{ mapLabel }}</span>
                    <md-progress-circular md-theme="rsmt" class="md-accent"
                                          ng-if="mapLabel !== 'Completed...'"
                                          md-diameter="50" md-mode="indeterminate"></md-progress-circular>
                </div>
                        <span layout-margin>
                            <span ng-if="totalCustomersFound != 0">
                                Total {{totalCustomersFound}} customers found.
                            </span>
                            <span ng-if="totalCustomersFound == 0">No customers found.</span>
                        </span>
            </div>
            <md-content class="ngMapContainer border">
                <ng-map zoom="10" center="[0, 0]" map-type-id="ROADMAP"></ng-map>
            </md-content>
        </div>
    </section>
</md-content>
