<md-sidenav id="customer-list-side-nav"
            class="md-sidenav-right md-whiteframe-z2 right-side-nav" md-component-id="manageCustomerListView">

    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <div class="md-toolbar-tools" layout="row">
            <span ng-bind="$root.isCustomerListName ? $root.isCustomerListName : 'Create New List' "></span>
            <span flex></span>
            <md-button class="md-raised md-accent margin-right-0" ng-click="$root.fnCloseManageCustomerListView();">
                Back
            </md-button>
        </div>
    </md-toolbar>

    <md-content ng-controller="manageCustomerListCtrl" ng-init="fnInit();" layout-padding>
        <form name="searchForm" layout="column" novalidate>
            <div layout="row">
                <md-input-container class="remove-error-space" flex>
                    <label>Customer List Name</label>
                    <input type="text" name="name" ng-model="customerListName" required/>
                </md-input-container>

                <div>
                    <md-button class="md-raised md-accent"
                               aria-label="Add to customer list"
                               ng-disabled="expressionArr.length == 0 || isProcessing"
                               ng-click="fnAddExprToCustomerList(customerListName);">
                        <span ng-bind="$root.isCustomerListName ? 'Update' : 'Add To Customer List'"></span>
                    </md-button>
                </div>
            </div>

            <div layout="row" layout-xs="column" layout-align="space-between center">
                <div layout="row" layout-fill flex>
                    <md-input-container flex>
                        <md-select aria-label="Select operand1"
                                   ng-model="filter.name"
                                   placeholder="-- Select Option --" required>
                            <md-option ng-repeat="operand1 in customerListFilterOptions" ng-value="operand1">
                                {{operand1}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <md-select aria-label="Select operator"
                                   ng-model="filter.operator"
                                   placeholder="-- Select Option --" required>
                            <md-option ng-repeat="operator in operatorDD" ng-value="operator.value">
                                {{operator.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-fill flex>
                    <md-autocomplete
                            md-search-text="filter.searchText"
                            md-search-text-change="fnSearchTextChange(filter.searchText);"
                            md-selected-item="filter.value"
                            md-selected-item-change="fnSelectedItemChange(filter.value);"
                            md-items="item in fnGetMatches(filter.searchText, filter.name)"
                            md-item-text="item"
                            md-delay="500"
                            md-no-cache="true"
                            md-min-length="0"
                            placeholder="Search/Type values" flex>
                        <md-item-template>
                            <span md-highlight-text="filter.searchText" md-highlight-flags="^i">{{item}}</span>
                        </md-item-template>
                    </md-autocomplete>

                    <md-button class="md-fab md-mini"
                               ng-disabled="searchForm.$invalid"
                               ng-click="fnAddExpression(filter);fnConvertExpressionToJson(customerListName);">
                        <md-icon md-font-set="material-icons">add</md-icon>
                        <md-tooltip ng-if="$root.isMobile === null" md-direction="top">Add Expression</md-tooltip>
                    </md-button>
                </div>
            </div>

            <md-divider></md-divider>

            <div layout="row" layout-xs="column" layout-align="space-between center"
                 ng-repeat="expr in expressionArr">
                <div class="margin-top-8 margin-right-8">{{$index + 1}}.</div>
                <div layout="row" layout-fill flex>
                    <md-input-container flex>
                        <md-select aria-label="Select operand1"
                                   ng-model="expr.name"
                                   ng-change="fnConvertExpressionToJson(customerListName);"
                                   placeholder="-- Select Option --">
                            <md-option ng-repeat="operand1 in customerListFilterOptions" ng-value="operand1">
                                {{operand1}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <md-select aria-label="Select operator"
                                   ng-model="expr.operator"
                                   ng-change="fnConvertExpressionToJson(customerListName);"
                                   placeholder="-- Select Option --">
                            <md-option ng-repeat="operator in operatorDD" ng-value="operator.value">
                                {{operator.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-fill flex>
                    <md-input-container class="remove-error-space" flex>
                        <label>Value</label>
                        <input type="text" name="exprValue"
                               ng-model="expr.value"
                               ng-change="fnConvertExpressionToJson(customerListName);" required/>
                    </md-input-container>

                    <md-button class="md-icon-button md-warn" ng-click="fnDeleteRow(customerListName, $index);">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                        <md-tooltip ng-if="$root.isMobile === null" md-direction="top">Delete</md-tooltip>
                    </md-button>
                </div>
            </div>
        </form>

        <div layout="row" layout-padding>
            <md-button class="md-raised md-accent"
                       aria-label="Preview values"
                       ng-disabled="expressionArr.length == 0 || isProcessing"
                       ng-click="fnSetPreviewValues(customerListName);">Preview values</md-button>
        </div>
    </md-content>
</md-sidenav>