<md-sidenav id="manage-shoploc-sidenav" class="md-sidenav-right md-whiteframe-z2 right-side-nav"
            md-component-id="manageShopLocationsView">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <div class="md-toolbar-tools" layout="row">
            <span>{{shopLocationObj.name}}</span>
            <span flex></span>
            <div class="bottom-sheet-demo inset padding-right-0" layout="row" layout-align="end center">
                <md-button aria-label="more" class="md-icon-button" ng-click="fnOpenBottomSheet();">
                    <md-icon md-font-set="fa fa-lg fa-fw fa-ellipsis-v"></md-icon>
                    <md-tooltip ng-if="$root.isMobile === null" md-direction="top">More</md-tooltip>
                </md-button>
                <md-button class="md-raised md-accent margin-right-0" ng-click="fnCloseManageShopLocationsSwapView();">
                    Back
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div layout="column" md-theme="grey">
        <md-tabs class="md-primary" md-dynamic-height md-selected="selectedIndex" ng-if="isTabsLoad">
            <md-tab label="Dashboard" id="dashboard">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 0"
                     ng-controller="shopLocationsDashboardCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsDashboard.html'"></div>
            </md-tab>

            <md-tab label="Info">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 1"
                     ng-controller="shopLocationsInfoCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsInfo.html'"
                     ng-init="fnInitShopLocInfo();"></div>
            </md-tab>

            <md-tab label="Config">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 2"
                     ng-controller="shopLocationsConfigCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsConfig.html'"
                     ng-init="fnInitShopLocConfig();"></div>
            </md-tab>

            <md-tab label="Recommended Service">
                <recommended-grid md-theme="rsmt" ng-if="selectedIndex == 3" loc-id="shopLocationObj.id"></recommended-grid>
            </md-tab>

            <md-tab label="Repair Orders">
                <repair-order-grid md-theme="rsmt" ng-if="selectedIndex == 4" loc-id="shopLocationObj.id"></repair-order-grid>
            </md-tab>

            <md-tab label="Log">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 5"
                     ng-controller="shopLocationsLogCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsLogs.html'"
                     ng-init="fnInitShopLocLog();"></div>
            </md-tab>

            <md-tab label="Next Config">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 6"
                     ng-controller="shopLocationsNextConfigCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsNextConfig.html'"
                     ng-init="fnInitShopLocNextConfig();"></div>
            </md-tab>

            <md-tab label="Segments">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 7"
                     ng-controller="shopLocationsSegmentsCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsSegments.html'"></div>
            </md-tab>

            <md-tab label="Customers">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 8"
                     ng-controller="shopLocationsCustomersCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsCustomers.html'"
                     ng-init="fnInitShopLocCustomers();"></div>
            </md-tab>

            <md-tab label="Customer List">
                <div md-theme="rsmt"
                     ng-if="selectedIndex == 9"
                     ng-controller="shopLocationCustomersListCtrl"
                     ng-include="'views/authenticated/shopLocations/shopLocationsCustomersList.html'"
                     ng-init="fnInitShopLocCustomersList();"></div>
            </md-tab>
        </md-tabs>
    </div>
</md-sidenav>

<!-- include swapping view-->
<div ng-include="rightManageSegmentSwapView"></div>
<div ng-include="rightOpenSegmentsSwapView"></div>
<div ng-include="manageCustomerListSwapView"></div>