<div class="md-padding overflow-auto" ng-init="fnInitShopLocations();">

    <div layout="row" layout-align="space-between center">
        <div class="md-display-1">Shop Locations</div>
    </div>

    <p class="md-subhead">Below are your shop locations. Click on one to configure it.</p>

    <div class="margin-bottom-10" layout="row" layout-sm="column" layout-xs="column">
        <input class="filterBox"
               ng-model="searchFilter"
               placeholder="Search..."
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
               ng-keyup="fnCancelSearchFilter($event, this);"/>
    </div>


    <div ng-if="isShopLocationsMsgShow" layout="row" layout-align="center center">
        <div class="md-headline">No shop locations available.</div>
    </div>

    <!-- Loader -->
    <div ng-if="!isShopLocationsDataNotNull && !isShopLocationsMsgShow" layout="column" layout-align="center center"
         layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- Grid Section -->
    <div class="margin-bottom-10" ng-if="isShopLocationsDataNotNull"
         ui-grid="shopLocationsGridOptions" ui-grid-selection ui-grid-auto-resize
         ng-style="$root.fnReturnGridHeight(shopLocationsData.length);" ng-cloak></div>


    <div ng-if="isShopLocationsDataNotNull"
         layout="row" layout-align="center center" layout-margin ng-cloak>

        <div ng-if="!isPagingCursor">
            <md-button aria-label="More Client" class="md-raised md-accent"
                       ng-click="fnLoadMoreShopLocations();">
                <span ng-if="isMoreShopLocations"> Loading... </span>
                <span ng-if="!isMoreShopLocations">More Shop-locations</span>
            </md-button>
        </div>

        <div ng-if="isPagingCursor">
            <div class="md-title">... No more results found ...</div>
        </div>
    </div>
</div>

<!-- include swapping view-->
<div ng-include="rightEditView"></div>