<div class="md-padding" layout="column">

    <div layout="row" layout-xs="column" layout-align="space-between center">
        <div class="md-display-1">Subscriptions</div>
        <md-button class="md-raised md-accent margin-right-0" ng-click="fnNewSubscriptionView();">New Subscription
        </md-button>
    </div>

    <p class="md-subhead">Below are the subscription options you offer to your clients.</p>

    <div ng-if="isMsgShow" layout="column" layout-align="center center" layout-fill flex>
        <div class="md-headline">No subscriptions available.</div>
    </div>

    <div ng-if="!isDataNotNull && !isMsgShow" layout="column" layout-align="center center" layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- Grid Section -->
    <div ng-if="isDataNotNull"
         ui-grid="subscriptionGridOptions" ui-grid-selection ui-grid-auto-resize
         ng-style="$root.fnReturnGridHeight(subscriptionsData.length);"></div>

</div>

<!-- include swapping view-->
<div ng-include="rightView"></div>
