<div class="tab-pane" id="client-forms-tab" layout-margin>

    <div ng-if="!isFormsDetails && !clientFormsGridShowMsg" layout="column" layout-align="center center"
         layout-fill flex>
        <md-progress-circular class="md-accent" md-diameter="100"
                              md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="clientFormsGridShowMsg" class="margin-bottom-10">
        <div class="md-headline text-center">Forms not available.</div>
    </div>

    <!--UI Grid-->
    <div class="margin-bottom-10" ng-if="isFormsDetails"
         ng-style="$root.fnReturnGridHeight(clientFormsDetails.length,100);"
         ui-grid="clientFormsGridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns>
    </div>

</div>