<md-sidenav class="md-sidenav-right md-whiteframe-z2 right-side-nav overflow-auto" md-component-id="manageUserSwap">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <h1 class="md-toolbar-tools" layout="row">
            <span>{{editUserName}}</span>
            <span flex></span>
            <md-button class="md-raised md-accent" ng-click="fnCloseManageUser();">
                Back
            </md-button>
        </h1>
    </md-toolbar>

    <md-content ng-controller="clientUserManageCtrl" ng-init="fnInitUser();" class="md-padding">
        <form name="userForm" layout="column" novalidate>
            <md-input-container class="remove-error-space">
                <label>Name</label>
                <input name="name" ng-model="user.name" ng-minlength="5"
                       ng-pattern="/^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$/" required>

                <div ng-if="userForm.$submitted || userForm.name.$touched">
                    <span class="error-msg" ng-if="userForm.name.$error.required">Name is required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Email</label>
                <input name="email" type="email" ng-model="user.email" ng-minlength="5" required>

                <div ng-if="userForm.$submitted || userForm.email.$touched">
                    <span class="error-msg" ng-if="userForm.email.$error.required">Email is required.</span>
                    <span class="error-msg" ng-if="userForm.email.$error.minlength">This field is too short minimum 5 character is required.</span>
                    <span class="error-msg" ng-if="userForm.email.$error.email">This field must be a valid email address.</span>
                </div>
            </md-input-container>

            <md-input-container>
                <label for="user_role">Role</label>
                <md-select aria-label="Select Role" ng-model="user.role" placeholder="Select Role" id="user_role">
                    <md-option value="User">User</md-option>
                    <md-option value="Admin">Admin</md-option>
                    <md-option value="LocationManager">LocationManager</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Default Location</label>
                <md-select aria-label="Select Location"
                           ng-model="user.defaultLocation"
                           placeholder="Default Location">
                    <md-option ng-repeat="option in locationDDOptions" value="{{option.id}}">
                        {{option.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Customer Contact</label>
                <md-select aria-label="Select Customer Contact"
                           ng-model="user.customerContact" placeholder="Customer Contact">
                    <md-option value="false">No - customer emails are not sent to this user</md-option>
                    <md-option value="true">Yes - customer emails are sent to this user</md-option>
                </md-select>
            </md-input-container>

            <div class="margin-left-0" layout="row" layout-margin>
                <md-checkbox class="md-accent margin-left-0" aria-label="owner" ng-model="user.owner">Owner
                </md-checkbox>
                <md-checkbox class="md-accent" aria-label="verified" ng-model="user.verified" ng-disabled="true">
                    Verified
                </md-checkbox>
            </div>

            <div layout="row" layout-align="end center">
                <md-progress-circular md-theme="rsmt" ng-if="isProcessing" class="md-primary"
                                      md-mode="indeterminate"></md-progress-circular>

                <md-button type="submit" class="md-raised md-accent"
                           ng-disabled="isProcessing"
                           ng-click="userForm.$valid && fnSaveUser(user);">
                    Save
                </md-button>
                <md-button class="md-warn md-raised margin-right-0" ng-click="fnCloseManageUser();">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-sidenav>