<md-dialog aria-label="Client Form Data" id="client-form-data-dialog" class="fullScreenDialog">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row">
            <span class="md-title" ng-bind="clientFormData.form_name | ucfirst"></span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="fnCloseFormDataDialog();" aria-label="Close">
                <md-icon md-font-set="fa fa-lg fa-fw fa-close"></md-icon>
                <md-tooltip ng-if="$root.isMobile == null" md-direction="top">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column">
        <md-content layout-padding>
            <form name="clientFormsDataForm">
                <h3 ng-if="!fnCheckFormData(clientFormData.form_data)">Client form data not available. </h3>
                <md-input-container class="md-block" ng-repeat="(key, value) in clientFormData.form_data">
                    <label ng-bind="key | ucfirst"></label>
                    <input type="text" ng-model="value" disabled/>
                </md-input-container>
            </form>
        </md-content>
    </md-dialog-content>
</md-dialog>