<md-toolbar layout="row" ng-include="'views/header.html'"></md-toolbar>

<md-content class="overflow-auto" layout="column" layout-align="space-between center" flex>
    <div class="md-whiteframe-z1 md-padding login-form-container" layout-margin>
        <div class="text-center">
            <div class="md-display-1" layout-padding>Reset Password</div>
            <div class="md-subhead">Enter your new password below.</div>
        </div>

        <form name="resetPasswordForm" layout="column" novalidate>
            <md-input-container class="remove-error-space">
                <md-icon class="md-accent">lock</md-icon>
                <input type="password" name="password" ng-model="password" ng-minlength="5" placeholder="Password"
                       required/>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <md-icon class="md-accent">lock</md-icon>
                <input type="password" name="retypePassword" ng-model="retypePassword" minlength="5"
                       placeholder="Re-type Password" required/>
            </md-input-container>

            <div layout="column" layout-align="center center">
                <md-button type="submit" class="md-raised md-accent"
                           ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword();">
                    Reset Password
                </md-button>
            </div>
        </form>
    </div>
</md-content>